{
  "parser": "babel-eslint",  
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "no-shadow": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  }
}
